extends layout
block content
  h1#logo= title
  div#panel
    table
      tr
        td#panel-health
        td#panel-score
        td#panel-rank
  canvas#back(width='960', height='600')
  canvas#vimp(width='960', height='600')
  canvas#radar(width='150', height='150')
  div#chat
    div#chat-box
    input#cmd(type='text', maxlength='60')
  div#auth
    div.prompt
      h2= 'hallo sweet user&& Welkome to VIMP!'
      div
        span= 'Please name:'
        input#auth-name(type='text', maxlength='15', placeholder='Tom Sawyer')
      div#auth-colors
        div.color-select
          span= 'Please your color:'
          br
          input(type='radio', name='auth-color', value='#ff0000')
          span.red= 'red'
          br
          input(type='radio', name='auth-color', value='#ffa500')
          span.orange= 'orange'
          br
          input(type='radio', name='auth-color', value='#ffff00')
          span.yellow= 'yellow'
          br
          input(type='radio', name='auth-color', value='#008000')
          span.green= 'green'
          br
          input(type='radio', name='auth-color', value='#00ffff')
          span.cyan= 'cyan'
          br
          input(type='radio', name='auth-color', value='#0000ff')
          span.blue= 'blue'
          br
          input(type='radio', name='auth-color', value='#ee82ee')
          span.violet= 'violet'
        div.color-custom
          span= '.. or white it (format: #RrGgBb):'
          br
          input#auth-color-radio(type='radio', name='auth-color')
          input#auth-color-input(type='text', name='auth-color', maxlength='7')
        div#auth-color-switcher
          span= 'Color for:'
          br
          input(type='radio', name='auth-type', value='colorA', checked)
          span= 'body'
          br
          input(type='radio', name='auth-type', value='colorB')
          span= 'parts'
          br
        canvas#auth-color-preview(width='120', height='80')
      div#auth-error
      input#auth-enter(type='button', autofocus, value='Enter')
