extends layout
block content
  div#panel
    h1#logo= title
    table
      tr
        td#panel-health
        td#panel-score
        td#panel-rank
  canvas#back(width='960', height='600')
  canvas#vimp(width='960', height='600')
  canvas#radar(width='150', height='150')
  div#chat
    div#chat-box
    input#cmd(type='text', maxlength='60')
  div#auth
    div#auth-form
      h2= 'hallo sweet user&& Welkome to VIMP!'
      div
        span= 'Please name:'
        input#auth-name-input(type='text', name='name' maxlength='15', placeholder='Tom Sawyer')
      div#auth-colors
        div.color-select
          span= 'Please your color:'
          br
          label.red
            input(type='radio', name='color', value='#ff0000')
            = 'red'
          br
          label.orange
            input(type='radio', name='color', value='#ffa500')
            = 'orange'
          br
          label.yellow
            input(type='radio', name='color', value='#ffff00')
            = 'yellow'
          br
          label.green
            input(type='radio', name='color', value='#008000')
            = 'green'
          br
          label.cyan
            input(type='radio', name='color', value='#00ffff')
            = 'cyan'
          br
          label.blue
            input(type='radio', name='color', value='#0000ff')
            = 'blue'
          br
          label.violet
            input(type='radio', name='color', value='#ee82ee')
            = 'violet'
        div.color-custom
          span= '.. or white it (format: #RrGgBb):'
          br
          input#auth-color-input(type='text', name='color', maxlength='7')
        div#auth-color-switcher
          span= 'color for:'
          br
          label
            input(type='radio', name='cType', value='colorA')
            = 'body'
          br
          label
            input(type='radio', name='cType', value='colorB')
            = 'parts'
      div#auth-models
        div
          span= 'Please your model:'
          br
          label
            input(type='radio', name='model', value='Halk')
            = 'Halk'
          br
          label
            input(type='radio', name='model', value='Flat')
            = 'Flat'
        canvas#auth-preview(width='90', height='70')
      div#auth-error
      input#auth-enter(type='button', autofocus, value='Enter')
